TELEGRAM_MAINBOT_API=your_main_bot_token
TELEGRAM_BOT_ADMIN_API=your_admin_bot_token
TELEGRAM_BOT_INV_API=your_inventory_bot_token
TELEGRAM_BOT_DIP_API=your_diplomacy_bot_token
TELEGRAM_BOT_SPY_API=your_spy_bot_token
TELEGRAM_BOT_WAR_API=your_war_bot_token
ADMIN_IDS=123456789
CHANNEL_ID=@war_rise_unitednations
NEWS_CHANNEL_ID=@war_rise_news